<!-- Player Weapon Row 2 {-->
    <tr class="plrgenrow2" align="center">
    <td width="30">$weapon.rank</d>
        <td align="left"><img src="Images/$weapon.name.gif" border="0"> <a href="$weapon.name.html" class="plrlink">$weapon.name</a></td>
        <td width="75">$weapon.kills</font></div></td>
        <td width="75">$weapon.deaths</font></div></td>
        <td width="75">$weapon.sui</font></div></td>
        <td width="75">$weapon.pkills%</font></div></td>
        <td width="75">
        <table width="$weapon.pkills" border="0" cellspacing="1" cellpadding="0" align="left">
        <tr><td class="plrpctbar1"><font class="plrkilldesc">&nbsp;</font></td></tr>
        </td>
        </table>
        <td width="75">$weapon.kdr</td>
        <td width="75">$weapon.damdelt</td>
        <td width="75">$weapon.damrec</td>
        </td>
    </tr>
