    <tr class="plrgenrow1" align="center">
    <td width="35" bgcolor="#8A9270"><b><font color="black">$player.rank</font></b></td>
    <td width="288" align="left" bgcolor="#8A9270"><b>&nbsp;<img src="Images/star.gif" width="17" height="17" border="0"></b></font><a href="$player.rank.html"><font color="white"><b> $player.name</b></font></a></td>
    <td width="89" bgcolor="#8A9270"><b><font color="black">$player.kills</font></b></td>
    <td width="90" bgcolor="#8A9270"><font color="black">$player.damdelt</font></td>
    <td width="90" bgcolor="#8A9270"><b><font color="black">$player.deaths</font></b> </td>
    <td width="90" bgcolor="#8A9270"><font color="black">$player.damrec</font></td>
    <td width="90" bgcolor="#8A9270"><b><font color="black">$player.suicides</font></b> </td>
    <td width="90" bgcolor="#8A9270"><font color="black">$player.dambleed</font></td>
    <td width="90" bgcolor="#8A9270"><b><font color="black">$player.kdp%</font></b></td>
</tr>