    <tr class="plrgenrow2" align="center">
    <td width="35" bgcolor="#6B7352"><b><font color="black">$player.rank</font></b></td>
    <td width="288" align="left" bgcolor="#6B7352"><b>&nbsp;<img src="Images/player.gif" width="17" height="17" border="0"></b></font><a class="plrlink" href="$player.rank.html"><b> $player.name</b></font></a></td>
    <td width="89" bgcolor="#6B7352"><b><font color="black">$player.kills</font></b></td>
    <td width="90" bgcolor="#6B7352"><font color="black">$player.damdelt</font></td>
    <td width="90" bgcolor="#6B7352"><b><font color="black">$player.deaths</font></b> </td>
    <td width="90" bgcolor="#6B7352"><font color="black">$player.damrec</font></td>
    <td width="90" bgcolor="#6B7352"><b><font color="black">$player.suicides</font></b> </td>
    <td width="90" bgcolor="#6B7352"><font color="black">$player.dambleed</font></td>
    <td width="90" bgcolor="#6B7352"><b><font color="black">$player.kdp%</font></b></td>
</tr>