<!--playersort=skill-->
<html>
<head>
<title>Weapon Rankings</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="mD_stats.css" type="text/css">
</head>
<!-- Header Goes here }-->
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table class="tablebg" border="0" align="center" width="100%" cellpadding="0" cellspacing="0">
  <tr><td colspan="2"><center> </center></td></tr>
  <tr>
    <td width="332">
      <a class="headlink">  <!-- href="http://www.com/"> }-->
        <img src="Images/title.gif" width="332" height="120" border="0" alt="Stats powered by .mD.Statistics">
      </a>
    </td>
    <td width="100%" align="left" valign="middle">
      <table border="0">
        <tr>
		<td nowrap valign="top">Server Name: </td>
          <td><a class="plrlink" href="$webpage">$server.name</a></td>
        </tr>
        <tr>
          <td nowrap valign="top">Server IP: </td>
          <td>$server.ip</td>
        </tr>
        <tr>
          <td nowrap valign="top">Admin: </td>
          <td><a class="plrlink" href="mailto:$admin.email">$admin.name</a></td>
        </tr>
        <tr>
          <td nowrap valign="top">Last Update: </td>
          <td>$timedate </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table width="100%" border="0">
  <tr class="listhead" align="center">
    <td><a class="plrlink" href="index.html">Player Ranks</a></td>
    <td><a class="plrlink" href="weapon.html">Weapon Ranks</a></td>
  </tr>
</table>
<br>
<!-- Header Ends here }-->
  <table width="98%" border="0" cellpadding="0" cellspacing="0" align="center">
    <tr valign="bottom">
      <td><font size="+2">W</font><font size="+1">EAPON</font><font size="+2"> R</font><font size="+1">ANKINGS</font></td>
    </tr>
    <tr>
      <td><img src="Images/line-blue.jpg" width="500" height="4"></td>
    </tr>
    <tr>
      <!-- <td valign="top">In <b>$actualdays</b> days <b>$totalrankedplayers</b> players ranked out of <b>$totalplayers</b> total</td> }-->
    </tr>
    <tr>
      <td><img src="Images/spacer.gif" width="200" height="8"></td>
    </tr>
  </table>
<table width="98%" border="0" cellspacing="0" cellpadding="2" align="center" class="tablebg">
  <tr>
    <td>
        <table width="100%" border="0" cellpadding="1" cellspacing="1">
          <tr class="listhead" align="center">
            <td nowrap width="30" align="center" >Rank</a></td>
            <td>Weapon</a></td>
            <td nowrap width="125" align="center" class="selhead"><b>Kills</b> / Dmg</a></td>
            <td nowrap width="100" align="center" >Percentage</a></td>
            <td nowrap width="100" align="center">%</a></td>
        </tr>
